body {
    display: block;
    margin: 0px 0px 0px 0px;
}

.main {
    width: auto;
    height: 850px;
    background: #2C2C2C;   
    text-align: center; 
    padding-top: 110px;
    margin-bottom: 0px;
}

.info-block {
    display: block;
    justify-content: left;
    width: max-content;
    text-align: left;
    display: block;
    margin: 0 auto;

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;
}

.name { 
    color: #F1F1F1; 
    margin-bottom: 18px;
    margin-top: 0px;
}

.info {
    color: #B3B3B3;    
    margin-bottom: 18px;
    margin-top: 0px;
}

.portrait {
    width: 639px;
    height: 536px;
    background: #C4C4C4; 
    display: block;
    margin: 0 auto;
    padding-top: 24px;
}

.photo { 
    width: 495px;
    height: 413px;
    margin-right: 0px;
}

.quote {
    width: 419px;
    height: 58px;

    font-family: PT Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    text-align: center;

    color: #272727;

    display: block;
    margin: 0 auto;
    margin-top: 19px;
}

.biography {
    width: 100%;
    height: max-content; 
    background: #2C2C2C;
    margin-top: 0px; 

}

.shadow {
    width: 80%;
    height: max-content;
    display: block;
    margin: 0 auto;
    background: #DDDDDD;
    box-shadow: 50px 20px 31px 13px rgba(0, 0, 0, 0.5), -50px 20px 31px 13px rgba(0, 0, 0, 0.5);
    padding-bottom: 40px;
}

.text {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #2E2E2E;
    padding-right: 90px;
    padding-left: 90px;
    margin-bottom: 48px;
    margin-top: 0px;
}
h2 {
    margin-bottom: 10px;
    margin-top: 0px;
}
#first {
    padding-top: 48px;
}

.link {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    color: #000000;
    margin-top: 40px;
    margin-bottom: 0px;
    
}

@media (max-width: 768px) {
    .info-block {
        font-size: 24px;
    }

    .portrait {
        width: 451px;
        height: 374px;
    }

    .photo { 
        width: 349px;
        height: 288px;
    }

    .quote {
        font-size: 18px;
        margin-top: 13px;
        width: 307px;
    }

    .main {
        padding-top: 70px;
        height: 640px;
    }

    .shadow {
        width: 70%px;
        box-shadow: 20px 20px 31px 13px rgba(0, 0, 0, 0.5), -20px 20px 31px 13px rgba(0, 0, 0, 0.5);
    }


    .text {
        font-size: 18px;
        line-height: 23px;
        color: #2E2E2E;
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 20px;
        margin-top: 0px;
    }
    h2 {
        margin-bottom: 10px;
        margin-top: 0px;
        font-size: 23px;
        line-height: 32px;
        margin-bottom: 0px;
    }

    .link {
        font-size: 20px;
        line-height: 32px;
    }

}

@media (max-width: 480px) {
    .portrait {
        width: 361px;
        height: 296px;
    }

    .photo { 
        width: 290px;
        height: 239px
    }

    .quote {
        margin-top: 3px;
        font-size: 14px;
        line-height: 18px;
    }

    .main {
        padding-top: 30px;
        height: 540px;
    }
}


@media (max-width: 376px) {
    .main {
        width: 375px;
        height: 373px;
    }

    .info-block {
        font-size: 19px;
        line-height: 23px;
    }
    
    .name { 
        margin-bottom: 11px;
    }
    
    .info {  
        margin-bottom: 11px;
    }
    .portrait {
        width: 274px;
        height: 217px;
    }

    .photo {
        width: 195px;
        height: 156px;
    }

    .quote {
        margin-top: 6px;
        font-size: 14px;
        line-height: 18px;
        width: 100%;
        height: 41px;
    }

    .biography {
        width: 375px;
        height: max-content;
        padding-bottom: 40px; 
        margin-top: -1px;
    }
    .shadow {
        background: #DDDDDD;
        box-shadow: 10px 20px 7px 2px rgba(0, 0, 0, 0.5), -10px 20px 7px 2px rgba(0, 0, 0, 0.5);
    }
    .text {
        padding-right: 12px;
        padding-left: 12px;
        margin-bottom: 16px;
        font-size: 14px;
        line-height: 19px;
    }

    h2 {
        margin-bottom: 8px;
        font-size: 18px;
        line-height: 24px;
    }

    .link {
        font-size: 14px;
        line-height: 19px;
        text-align: center;
    }
    


}